@import '../../sass/helpers/mixins';
@import '../../sass/helpers/variables';

.PowerupItem {
    display: block;
    position: relative;
    height: 10%;
    background: $c-purple;
    padding: 13px 0 13px 10px;
    margin-bottom: 3px;
    opacity: 0;
    font-size: 1.3vw;
    pointer-events: none;
    border: 2px solid $c-purple;
    color: $c-white;

    &:last-of-type {
        margin-bottom: 0;
    }

    &.isVisible {
        opacity: 0.5;
    }

    &.isActive {
        opacity: 1;
        pointer-events: auto;
    }

    &.isActive:hover {
        cursor: pointer;
    }
}

.Price {
    height: 100%;
    padding: 0 1.4em;
    right: 0;
    top: 0;
    position: absolute;
    color: $c-purple;
    background: $c-white;
    display: flex;
    justify-content: center;
    align-items: center;
}
