.PowerupItem {
  display: block;
  position: relative;
  height: 10%;
  background: grey;
  opacity: 0;
  outline: 1px solid;
  font-size: 12px;
  pointer-events: none; }
  .PowerupItem.isVisible {
    opacity: 0.5; }
  .PowerupItem.isActive {
    opacity: 1;
    pointer-events: auto; }
  .PowerupItem.isActive:hover {
    cursor: pointer; }

.price {
  position: absolute;
  right: 0; }
