.PowerupItem {
  z-index: 12;
  position: absolute;
  bottom: 0;
  display: block;
  width: 20%;
  height: 50px;
  background: grey;
  opacity: 0; }

.isVisible {
  opacity: 0.5; }

isActive {
  opacity: 1; }
