//COLORS
$c-white: #FFFFFF;
$c-black: #000000;
$c-red: #FF3365;
$c-blue0: #011B2F;
$c-blue1: #012741;
$c-blue2: #005A8E;
$c-lightGreen: #62D7C8;
$c-green0: #509A9B;
$c-green1: #459497;
$c-green2: #2A8683;
$c-lightOrange: #FCAB53;
$c-orange1: #B38A0D;
$c-orange2: #B35C0E;

//GRADIENTS
$gradient-green: $c-green1 0%, $c-green2 100%;
$gradient-orange: $c-orange1 0%, $c-orange2 100%;
$gradient-blue: $c-blue1 0%, $c-blue2 100%;

//FONT-SIZES
$large: 7vw;
$medium: 2vw;
$small: 3vw;

//FONTS HERE
$f-robotoRegularSmall: normal 300 $small 'Roboto', sans-serif;
$f-robotoRegularMedium: normal 300 $medium 'Roboto', sans-serif;
$f-robotoRegularLarge: normal 300 $large 'Roboto', sans-serif;
$f-robotoThinSmall: normal 100 $small 'Roboto', sans-serif;
$f-robotoThinMedium: normal 100 $medium 'Roboto', sans-serif;
$f-robotoThinLarge: normal 100 $large 'Roboto', sans-serif;

//BREAKPOINTS
$mq_tablet: 40.0625em;
$mq_desktop: 64.0625em;
$mq_desktop-large: 90em;

//Easings
$snap: cubic-bezier(0, 1, .5, 1);
$easeOutCubic: cubic-bezier(.215, .61, .355, 1);
$easeInOutCubic: cubic-bezier(.645, .045, .355, 1);
$easeInCirc: cubic-bezier(.6, .04, .98, .335);
$easeOutCirc: cubic-bezier(.075, .82, .165, 1);
$easeInOutCirc: cubic-bezier(.785, .135, .15, .86);
$easeInExpo: cubic-bezier(.95, .05, .795, .035);
$easeOutExpo: cubic-bezier(.19, 1, .22, 1);
$easeInOutExpo: cubic-bezier(1, 0, 0, 1);
$easeInQuad: cubic-bezier(.55, .085, .68, .53);
$easeOutQuad: cubic-bezier(.25, .46, .45, .94);
$easeInOutQuad: cubic-bezier(.455, .03, .515, .955);
$easeInQuart: cubic-bezier(.895, .03, .685, .22);
$easeOutQuart: cubic-bezier(.165, .84, .44, 1);
$easeInOutQuart: cubic-bezier(.77, 0, .175, 1);
$easeInQuint: cubic-bezier(.755, .05, .855, .06);
$easeOutQuint: cubic-bezier(.23, 1, .32, 1);
$easeInOutQuint: cubic-bezier(.86, 0, .07, 1);
$easeInSine: cubic-bezier(.47, 0, .745, .715);
$easeOutSine: cubic-bezier(.39, .575, .565, 1);
$easeInOutSine: cubic-bezier(.445, .05, .55, .95);
$easeInBack: cubic-bezier(.6, -.28, .735, .045);
$easeOutBack: cubic-bezier(.175, .885, .32, 1.275);
$easeInOutBack: cubic-bezier(.68, -.55, .265, 1.55);
