/* ========================================================================
  GRADIENTS
  ======================================================================= */
/* ========================================================================
   ASPECT RATIO
   ======================================================================== */
/**
 * from https://css-tricks.com/snippets/sass/maintain-aspect-ratio-mixin/
 */
/* ========================================================================
   BREAKPOINTS
   ======================================================================== */
.Container {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;
  cursor: pointer;
  background-color: #97FFFF; }

.Wrapper {
  z-index: 11;
  height: inherit;
  width: inherit;
  display: flex;
  flex-direction: column;
  position: relative; }

.ProgressValue {
  position: absolute;
  bottom: 30px;
  margin-left: 30px;
  color: #1A00FF;
  font-size: 130px;
  font-weight: 700; }
  .ProgressValue .Percentage {
    font-size: 40px; }

.TopLeft {
  border: 2px solid #1A00FF;
  width: 30%;
  max-width: 100px;
  position: absolute;
  margin-top: 30px;
  margin-left: 30px;
  font-weight: 400; }
  .TopLeft .Multiplier {
    text-align: center;
    display: block;
    padding: 0.2em 0;
    background-color: #1A00FF;
    color: #FFFFFF;
    font-size: 42px;
    word-wrap: break-word; }
  .TopLeft .TotalPoints {
    display: block;
    background-color: #FFFFFF;
    color: #1A00FF;
    padding: 0.5em 1em;
    font-size: 18px;
    word-wrap: break-word; }

.ProgressBar {
  transform-origin: left;
  transform: scaleX(0);
  z-index: 10;
  top: 0;
  left: 0;
  position: absolute;
  height: inherit;
  width: inherit;
  background-color: #64ffff; }

.TopRight {
  position: absolute;
  margin-top: 30px;
  right: 30px;
  color: #1A00FF;
  font-size: 18px; }
  .TopRight .SpeedMultiplier {
    font-weight: 100; }
    .TopRight .SpeedMultiplier span {
      font-weight: 700; }
