@import '../../sass/helpers/mixins';
@import '../../sass/helpers/variables';

.Container {
  outline: 1px solid;
  position: relative;
  display: inline-block;
  height: 100%;
  width: 33.33vw;
  cursor: pointer;
  background-color: $c-electricBlue;
  font: $f-LatoRegularMedium;
  font-weight: 400;
}

.Wrapper {
  z-index: 11;
  height: inherit;
  width: inherit;
  display: flex;
  flex-direction: column;
  position: relative;
}

.ProgressValue {
  position: absolute;
  bottom: 30%;
  left: 5%;
  margin: auto;
  color: $c-purple;
  font-size: 40px;
  font-weight: 700;
  .Percentage {
    font-size: 10px;
  }
}

.TopLeft {
  outline: 1px solid $c-purple;
  width: 30%;
  position: absolute;
  top: 2%;
  left: 5%;
  font-weight: 700;
  .Multiplier {
    text-align: center;
    display: block;
    padding: 0.2em 0em;
    background-color: $c-purple;
    color: $c-white;
    font-size: 4vw;
  }
  .TotalPoints {
    display: block;
    background-color: $c-white;
    color: $c-purple;
    padding: 0.5em 1em;
    font-size: 2vw;
  }
}

.ProgressBar {
  transform-origin: left;
  transform: scaleX(0);
  z-index: 10;
  top: 0;
  left: 0;
  position: absolute;
  height: inherit;
  width: inherit;
  background-color: $c-electricBlueDark;
}

.TopRight {
  position: absolute;
  top: 2%;
  right: 5%;
  color: $c-purple;

  .SpeedMultiplier {
    font-weight: 100;
    span {
      font-weight: 700;
    }
  }
}
