/* ========================================================================
  GRADIENTS
  ======================================================================= */
/* ========================================================================
   ASPECT RATIO
   ======================================================================== */
/**
 * from https://css-tricks.com/snippets/sass/maintain-aspect-ratio-mixin/
 */
/* ========================================================================
   BREAKPOINTS
   ======================================================================== */
.Container {
  position: relative;
  display: inline-block;
  grid-column: 1/span 17;
  grid-row: 1/span 17;
  cursor: pointer;
  background-color: #97FFFF;
  font-size: 7vw; }

.Wrapper {
  z-index: 11;
  height: 100%;
  width: 100%;
  position: relative; }

.ProgressValue {
  position: absolute;
  bottom: 3%;
  margin-left: 3%;
  color: #1A00FF;
  font-size: 1.3em;
  font-weight: 700; }
  .ProgressValue .Percentage {
    font-size: 0.4em; }

.TopLeft {
  border: 2px solid #1A00FF;
  width: 0.9em;
  max-width: 100px;
  position: absolute;
  margin-top: 3%;
  margin-left: 3%;
  font-weight: 400; }
  .TopLeft .Multiplier {
    text-align: center;
    display: block;
    padding: 0.2em 0;
    background-color: #1A00FF;
    color: #FFFFFF;
    font-size: 0.42em;
    word-wrap: break-word; }
  .TopLeft .TotalPoints {
    display: block;
    background-color: #FFFFFF;
    color: #1A00FF;
    padding: 0.5em 1em;
    font-size: 0.18em;
    word-wrap: break-word; }

.ProgressBar {
  transform-origin: left;
  transform: scaleX(0);
  z-index: 10;
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #64ffff; }

.TopRight {
  position: absolute;
  margin-top: 3%;
  right: 3%;
  color: #1A00FF;
  font-size: 0.18em; }
  .TopRight .SpeedMultiplier {
    font-weight: 100; }
    .TopRight .SpeedMultiplier span {
      font-weight: 700; }
