@import '../../sass/helpers/mixins';
@import '../../sass/helpers/variables';

.Container {
  position: relative;
  color: white;
  height: 100px;
  width: 200px;
  cursor: pointer;
  @include backgrounds(blue, 10);
}

.Wrapper {
  z-index: 11;
  height: inherit;
  width: inherit;
  display: flex;
  flex-direction: column;
  position: relative;
}

.ProgressValue {
  font-size: 40px;
  margin: auto;
}

.Multiplier {
  position: absolute;
  top: 5%;
  right: 5%;
}

.TotalPoints {
  position: absolute;
  top: 5%;
  left: 5%;
}

.ProgressBar {
  transform-origin: left;
  transform: scaleX(0);
  z-index: 10;
  top: 0;
  left: 0;
  position: absolute;
  height: inherit;
  width: inherit;
  background: darken(blue,5%);
}