@import '../../sass/helpers/mixins';
@import '../../sass/helpers/variables';

.Container {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 33.33vw;
  cursor: pointer;
  background-color: $c-electricBlue;
  font: $f-LatoRegularMedium;
  font-weight: 400;
}

.Wrapper {
  z-index: 11;
  height: inherit;
  width: inherit;
  display: flex;
  flex-direction: column;
  position: relative;
}

.ProgressValue {
  font-size: 40px;
  margin: auto;
  color: $c-purple;
}

.Multiplier {
  position: absolute;
  top: 5%;
  right: 5%;
  color: $c-purple;
}

.TotalPoints {
  position: absolute;
  top: 5%;
  left: 5%;
  color: $c-purple;
}

.ProgressBar {
  transform-origin: left;
  transform: scaleX(0);
  z-index: 10;
  top: 0;
  left: 0;
  position: absolute;
  height: inherit;
  width: inherit;
  background-color: $c-electricBlueDark;
}
