/* ========================================================================
  GRADIENTS
  ======================================================================= */
/* ========================================================================
   ASPECT RATIO
   ======================================================================== */
/**
 * from https://css-tricks.com/snippets/sass/maintain-aspect-ratio-mixin/
 */
/* ========================================================================
   BREAKPOINTS
   ======================================================================== */
.Container {
  outline: 1px solid;
  position: relative;
  display: inline-block;
  height: 100%;
  width: 49vw;
  cursor: pointer;
  background-color: #97FFFF; }

.Wrapper {
  z-index: 11;
  height: inherit;
  width: inherit;
  display: flex;
  flex-direction: column;
  position: relative; }

.ProgressValue {
  position: absolute;
  bottom: 5%;
  left: 5%;
  margin: auto;
  color: #1A00FF;
  font-size: 7vw;
  font-weight: 700; }
  .ProgressValue .Percentage {
    font-size: 3vw; }

.TopLeft {
  border: 2px solid #1A00FF;
  width: 30%;
  max-width: 100px;
  position: absolute;
  top: 2%;
  left: 5%;
  font-weight: 400; }
  .TopLeft .Multiplier {
    text-align: center;
    display: block;
    padding: 0.2em 0;
    background-color: #1A00FF;
    color: #FFFFFF;
    font-size: 2vw;
    word-wrap: break-word; }
  .TopLeft .TotalPoints {
    display: block;
    background-color: #FFFFFF;
    color: #1A00FF;
    padding: 0.5em 1em;
    font-size: 1vw;
    word-wrap: break-word; }

.ProgressBar {
  transform-origin: left;
  transform: scaleX(0);
  z-index: 10;
  top: 0;
  left: 0;
  position: absolute;
  height: inherit;
  width: inherit;
  background-color: #64ffff; }

.TopRight {
  position: absolute;
  top: 2%;
  right: 5%;
  color: #1A00FF;
  font-size: 1.5vw; }
  .TopRight .SpeedMultiplier {
    font-weight: 100; }
    .TopRight .SpeedMultiplier span {
      font-weight: 700; }
