/* ========================================================================
  GRADIENTS
  ======================================================================= */
/* ========================================================================
   ASPECT RATIO
   ======================================================================== */
/**
 * from https://css-tricks.com/snippets/sass/maintain-aspect-ratio-mixin/
 */
/* ========================================================================
   BREAKPOINTS
   ======================================================================== */
.Wrapper {
  cursor: move;
  width: 100%;
  height: 100%;
  max-height: 247px;
  max-width: 460px;
  position: absolute;
  background: red;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  transform: scale(0); }
  .Wrapper.isVisible {
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: scale(1); }

.DialogBoxTop {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between; }
  .DialogBoxTop .Image {
    width: 90px;
    height: 90px;
    background: #FFF0A2;
    display: inline-block; }
    .DialogBoxTop .Image img {
      margin: 0 auto;
      padding: 21px 15px; }
  .DialogBoxTop .Content {
    width: 77%;
    color: #FFFFFF;
    display: inline-block; }

.Choices {
  width: 100%;
  padding-top: 23px; }
  .Choices .Choice {
    height: 48px;
    cursor: pointer;
    color: #FF4451;
    background: #FFFFFF;
    outline: 2px solid #FF4451;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .Choices .Choice .Price {
      height: 100%;
      background-color: #FFF0A2;
      outline: 2px solid #FF4451;
      width: 20%;
      display: flex;
      justify-content: center;
      align-items: center; }
    .Choices .Choice a {
      text-decoration: none;
      color: #FF4451; }
