@import '../../sass/helpers/variables';

.Header {
    width: 100%;
    height: $headerHeight;
}

.InfoWrapper {
    display: inline-flex;
    align-items: center;
    min-width: 100px;
    height: $headerHeight - $bodyPadding;
    margin-right: $bodyPadding;
    background: white;
    color: $c-purple;
    width: 30%;
}

.Info {
    flex-grow: 1;
    padding: 0 20px;
    font-size: 42px;
    font-weight: 700;
}

.InfoCaption {
    padding-right: 1em;
    font-weight: 400;
    font-size: 20px;
    margin-top: 10px;
}
