.PowerupBar {
    z-index: 126;
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 1;
    background-color: red;
    transition: opacity 0.3s;

    &.isVisible {
        opacity: 1;
    }
}

